/********************************
GALLERY
*********************************/

#info-gallery {
	margin-left: 10%;
	width: 600px;
	height: 600px;
}

#thumbs { 
	padding-top: 10px; 
	overflow: hidden; 
}

#thumbs img, #largeImage {
 border: 1px solid #6ab47b;
 padding: 4px;
 background-color: white;
 cursor: pointer;
}

#thumbs img {
 float: left;
 margin-right: 6px;
}

#description {
 background: rgba(106,180,123,0.7);
 color: white;
 position: absolute;
 bottom: 0;
 padding: 10px 20px;
 width: 430px;
 margin: 5px;
}

#panel { 
	position: relative; 
	clear: both;
	width: 500px;
	height: 300px;
}

/********************************
SUMMARY
*********************************/

#summary {
	float: right;
	text-align: left;
	width: 40%;
	margin-right: 10%;
	margin-top: -25%;
}

#summary h2 {
	color: #6ab47b;
	font-weight: bold;
}

#summary a:hover {
	color: #32673f;
}

#summary #sum {
	margin-bottom: 8%;
}

#summary li {
	list-style: square;
}

#btn-view {
	background: #FFF;
	border-radius: 0;
	border: solid #6ab47b 1px;
	padding: 10px 20px;
}

#btn-view a {
	font-family: 'Yanone Kaffeesatz', sans-serif; 
	color: #6ab47b;
	text-decoration: underline;
}

#features {
	float: left;
}

#tools {
	float: right;
	margin-right: 25%;
}